body{background: #ccc;}
table{margin:0 auto; margin-top:10%;background: #EFC677;border-collapse:collapse;border-spacing:0;}
td{width:25px;height:25px;border-radius: 50%;border:1px #000 solid;cursor: pointer;}
td span{display: block;width:24px;height:24px;margin:0 auto;border-radius: 50%;}